.site-header {
    background-position: top;
    background-size: contain;
}

img.theartist {
    float: right;
    margin-left: 10px;
}

.aboutpics, .art-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.art-categories img {
    width: 98%;
}

.art-categories a {
    width: 32%;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
}
div.gallery a {
    flex-grow: 1;
    object-fit: cover;
    margin: 2px;
    display: flex;
}

div.gallery a img {            
    height: 200px;
    object-fit: cover;
    flex-grow: 1;
}

@media (min-width: 900px) {
    .home-template .site-nav {
        top: 0px;
    }
    
    .home-template .post-feed {
        margin-top: 0;
    }
}
    